.app {
    background-color: #cccccc;
}

.control {
    padding: 5px;
}

.control div {
    display: inline;
}

#pokedexNumber {
    font-weight: bold;
}

input {
    width: 40px;  /* HACK: Larger boxes line up better on mobile */
}